.bash_history
/.composer
/shared
.idea
local/php_interface/vendor
.env
movetoclient.sh                          
movetoclientwithdump.sh                                   
makemysqldump.sh
makeuploadarchive.sh
cg_dump.sql
upload.tar.bz2
project.gitlab-ci.yml
.php_cs.cache
composer.lock
bitrix/cache/*
bitrix/managed_cache/*
bitrix/*.log
bitrix/backup/*
bitrix/catalog_export/*
bitrix/stack_cache/*
bitrix/tmp/*
bitrix/updates/*